@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
/* * is the universal selector */

:root {
    --primary-color: #047aed;
    --white-color: #fff;
    --black-color: #333;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}  

body {
    font-family: 'Lato', sans-serif;
    color: var(--white-color);
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
  margin: 10px 0;   
}

img {
    width: 100%;
}

/*Nav Bar*/
.navbar {
    background-color: var(--primary-color);
    color: var(--white-color);
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: var(--white-color);
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px var(--white-color) solid;
}

.navbar .flex {
    justify-content: space-between;
}

/* Display */
.display {
    height: 400px;
    background-color: var(--primary-color);
    color: var(--white-color);
    position: relative;
}

.display h1 {
    font-size: 40px;;
}

.display p {
    margin: 18px 0;
}

.display .grid {
    /* grid-template-columns: 50% 45%; */
    gap: 30%;
    overflow: visible;
}

.display-form {
    position: relative;
    height: 330px;
}

/* Utilities */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.card {
    background-color: #C0C0C0;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(232, 232, 232);
    padding: 20px;
    margin: 15px;
    top: 60px;
}

.flex {
    display: flex;
    justify-content: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 85px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
